<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyarch.FindingPetsSys.mapper.LocationPermissionMapper">

    <resultMap id="BaseResultMap" type="com.easyarch.FindingPetsSys.entity.LocationPermission">
        <id property="userId" column="user_id" jdbcType="INTEGER"/>
        <id property="petId" column="pet_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        ,pet_id
    </sql>
    <insert id="insertLocationPermission">
        INSERT INTO location_permissions (user_id, pet_id)
        VALUES (#{userId}, #{petId})
    </insert>
    <delete id="deleteLocationPermission">
        DELETE
        FROM location_permissions
        WHERE user_id = #{userId}
          and pet_id = #{petId}
    </delete>
    <delete id="deleteAllLocationPermission">
        DELETE
        FROM location_permissions
        WHERE pet_id = #{petId}
    </delete>
    <select id="queryLocationPermission" resultType="com.easyarch.FindingPetsSys.entity.LocationPermission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM location_permissions
        WHERE user_id=#{userId} and pet_id=#{petId}
    </select>
</mapper>
