<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyarch.FindingPetsSys.mapper.NoteMapper">

    <resultMap id="BaseResultMap" type="com.easyarch.FindingPetsSys.entity.Note">
        <id property="noteId" column="note_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="petId" column="pet_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="resourcePath" column="resource_path" jdbcType="VARCHAR"/>
        <result property="visibility" column="visibility" jdbcType="TINYINT"/>
        <result property="reward" column="reward" jdbcType="DECIMAL"/>
        <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
        <result property="publicly" column="publicly" jdbcType="TINYINT"/>


    </resultMap>

    <sql id="Base_Column_List">
        note_id
        ,user_id,pet_id,
        title,summary,content,
        resource_path,visibility,reward,timestamp,publicly
    </sql>
    <insert id="insertNote" parameterType="com.easyarch.FindingPetsSys.entity.Note" useGeneratedKeys="true"
            keyProperty="noteId">
        INSERT INTO notes (user_id, pet_id, title, summary, content, resource_path, visibility, reward, timestamp,
                           publicly)
        VALUES (#{note.userId}, #{note.petId}, #{note.title}, #{note.summary}, #{note.content}, #{note.resourcePath},
                #{note.visibility}, #{note.reward}, #{note.timestamp},#{note.publicly})
    </insert>
    <update id="updateNote" parameterType="com.easyarch.FindingPetsSys.entity.Note">
        UPDATE notes
        <set>
            <if test="title != null">title = #{note.title},</if>
            <if test="summary != null">summary = #{note.summary},</if>
            <if test="content != null">content = #{note.content},</if>
            <if test="resourcePath != null">resource_path = #{note.resourcePath},</if>
            <if test="visibility != null">visibility = #{note.visibility},</if>
            <if test="reward != null">reward = #{note.reward}</if>
        </set>
        WHERE note_id = #{note.noteId}
    </update>
    <update id="updateNoteVisibility" parameterType="com.easyarch.FindingPetsSys.entity.Note">
        UPDATE notes
        SET visibility = #{visibility}
        WHERE note_id = #{id}
    </update>
    <select id="queryNoteByNoteId" resultType="com.easyarch.FindingPetsSys.entity.Note">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        notes
        WHERE
        note_id = #{id}
    </select>
    <select id="selectNotesByNoteIds" resultType="com.easyarch.FindingPetsSys.entity.Note">
        select
        <include refid="Base_Column_List"/>
        from
        notes
        where note_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="queryNotesByPetId" resultType="com.easyarch.FindingPetsSys.entity.Note">
        select
        <include refid="Base_Column_List"/>
        from
        notes
        where pet_id=#{petId}
    </select>
    <select id="selectNotesByUserId" resultType="com.easyarch.FindingPetsSys.entity.Note">
        select
        <include refid="Base_Column_List"/>
        from notes
        where user_id=#{userId}
        order by timestamp desc
    </select>
    <select id="selectNotesByPublicAndVisibility" resultType="com.easyarch.FindingPetsSys.entity.Note">
        select
        <include refid="Base_Column_List"/>
        from notes
        where visibility=#{visibility} and publicly=#{isPublic}
        order by timestamp desc
    </select>
    <select id="selectNotesByPublicAndVisibilityAndTitle" resultType="com.easyarch.FindingPetsSys.entity.Note">
        select
        <include refid="Base_Column_List"/>
        from notes
        where visibility=#{visibility} and publicly=#{isPublic} and title like concat('%', #{title}, '%')
        order by timestamp desc
    </select>
</mapper>
