<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyarch.FindingPetsSys.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.easyarch.FindingPetsSys.entity.Order">
        <id property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="noteId" column="note_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="deposit" column="deposit" jdbcType="DECIMAL"/>
        <result property="finalPayment" column="final_payment" jdbcType="DECIMAL"/>
        <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,status,note_id,deposit,final_payment,user_id,timestamp
    </sql>
    <!--    0=未付订金 1=未付尾款 2=完成 3=退回订金 4=过期 -->
    <insert id="insertOrder" parameterType="com.easyarch.FindingPetsSys.entity.Order" useGeneratedKeys="true"
            keyProperty="orderId">
        INSERT INTO orders (status, note_id,user_id,deposit,final_payment,timestamp)
        VALUES (#{order.status},
                #{order.noteId},#{order.userId},#{order.deposit},#{order.finalPayment},#{order.timestamp})
    </insert>
    <select id="queryOrderByNoteId" parameterType="java.lang.Long"
            resultType="com.easyarch.FindingPetsSys.entity.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        orders
        WHERE
        note_id = #{noteId}
    </select>

    <select id="queryOrderByOrderId" parameterType="java.lang.Long"
            resultType="com.easyarch.FindingPetsSys.entity.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        orders
        WHERE
        order_id = #{orderId}
    </select>
    <select id="queryOrdersByUserId" resultType="com.easyarch.FindingPetsSys.entity.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        orders
        WHERE
        user_id = #{userId}
        order by timestamp desc
    </select>
    <select id="selectOrdersByStatus" resultType="com.easyarch.FindingPetsSys.entity.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        orders
        WHERE
        status = #{status}
    </select>
    <update id="updateOrderStatus" parameterType="com.easyarch.FindingPetsSys.entity.Order">
        UPDATE orders
        SET status = #{order.status}
        WHERE order_id = #{order.orderId}
    </update>
    <update id="updateOrderStatusByNoteId">
        UPDATE orders
        SET status = #{status}
        WHERE note_id = #{noteId}
    </update>
</mapper>
