<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyarch.FindingPetsSys.mapper.PetMapper">

    <resultMap id="BaseResultMap" type="com.easyarch.FindingPetsSys.entity.Pet">
        <id property="petId" column="pet_id" jdbcType="INTEGER"/>
        <result property="petName" column="pet_name" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        pet_id,pet_name,info,
        user_id,url,device_id
    </sql>
    <insert id="insertPet" parameterType="com.easyarch.FindingPetsSys.entity.Pet" useGeneratedKeys="true"
            keyProperty="petId">
        INSERT INTO pets (pet_id, pet_name, info, user_id, url,device_id)
        VALUES (#{pet.petId}, #{pet.petName}, #{pet.info}, #{pet.userId}, #{pet.url},#{pet.deviceId})
    </insert>
    <update id="updatePet">
        update pets
        <set>
            <if test="pet.petName != null">pet_name=#{pet.petName},</if>
            <if test="pet.info != null">info=#{pet.info},</if>
            <if test="pet.url != null">url=#{pet.url},</if>
        </set>
        where pet_id=#{pet.petId}
    </update>

    <update id="updatePetDeviceIdByPetId">
        update pets
        <set>
            device_id=#{deviceId}
        </set>
        where pet_id=#{petId}
    </update>


    <delete id="deletePetByPetId" parameterType="java.lang.Long">
        DELETE FROM pets WHERE pet_id = #{id}
    </delete>

    <select id="queryPetByPetId" resultType="com.easyarch.FindingPetsSys.entity.Pet" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pets
        WHERE pet_id = #{id}
    </select>

    <select id="selectPetsByUserId" resultType="com.easyarch.FindingPetsSys.entity.Pet" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pets
        WHERE user_id = #{userId}
    </select>
    <select id="queryPetByPetIdAndUserId" resultType="com.easyarch.FindingPetsSys.entity.Pet">
        select
        <include refid="Base_Column_List"/>
        from pets
        where pet_id=#{petId} and user_id=#{userId}
    </select>

    <select id="selectPetsByPetName" resultType="com.easyarch.FindingPetsSys.entity.Pet">
        select
        <include refid="Base_Column_List"/>
        from pets
        where user_id=#{userId} and pet_name like concat('%', #{petName}, '%')
    </select>

</mapper>
